<!DOCTYPE html>
<html ng-app="calcApp">
    <head>
        <title>Angular</title>
        <link type="text/css" href="styles/styles.css" rel="stylesheet"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <div class="wrapper" ng-controller="calcCtrl">
            <div class="display">
                <div>{{results}}</div> 
                <div>{{second}}</div> 
                <div>{{operation}}</div> 
                <div>{{first}}</div> 
            </div>
            <div class="buttons">
                <div class="button ac" ng-click="clear()">AC</div>
                <div class="button operation" ng-click="opertBtnCl('%', results)">%</div>
                <div class="button operation" ng-click="opertBtnCl('/', results)">&#247;</div>
            </div>
            <div class="buttons">
                <div class="button" ng-click="numBtnCl(7)">7</div>
                <div class="button" ng-click="numBtnCl(8)">8</div>
                <div class="button" ng-click="numBtnCl(9)">9</div>
                <div class="button operation" ng-click="opertBtnCl('*', results)">&#215;</div>
            </div>
            <div class="buttons">
                <div class="button" ng-click="numBtnCl(4)">4</div>
                <div class="button" ng-click="numBtnCl(5)">5</div>
                <div class="button" ng-click="numBtnCl(6)">6</div>
                <div class="button operation" ng-click="opertBtnCl('-', results)">&#8722;</div>
            </div>
            <div class="buttons">
                <div class="button" ng-click="numBtnCl(1)">1</div>
                <div class="button" ng-click="numBtnCl(2)">2</div>
                <div class="button" ng-click="numBtnCl(3)">3</div>
                <div class="button operation" ng-click="opertBtnCl('+', results)">+</div>
            </div>
            <div class="buttons">
                <div class="button zero" ng-click="numBtnCl(0)">0</div>
                <div class="button" ng-click="numBtnCl('.')">.</div>
                <div class="button operation" ng-click="resBtnCl(first, second, operation)">=</div>
            </div>
        </div>
    </body>
</html>