* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #faf0e6;
}
.wrapper {
    width: 228px;
    height: 370px;
    margin: 15px 0 0 15px;
    border: 1px solid #939399;
}
.display {
    background-color: #939399;
    height: 40px;
    padding: 10px;
    color: #fff;
    text-align: right;
    font-size: 39px;
    overflow: hidden;
}
.display div {
    float: right;
    background-color: #939399;
}
.button {
    width: 55px;
    height: 50px;
    padding-top: 10px;
    float: left;
    background-color: #e0dfe1;
    text-align: center;
    font-size: 35px;
    border: 1px solid #939399;
    cursor: pointer;
}
.button:hover {background-color: #e0f8f8;}
.button.ac {width: 112px;}
.button.operation {background-color: #f3903c;}
.button.operation:hover {background-color: #f0ad4e;}
.button.zero {
    width: 92px;
    padding-left: 20px;
    text-align: left;
}